div {
    /* box-sizing: border-box; */
    /* border: 1px solid purple; */
    /* "outline" does not effect overall width */
}

main {
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}


.a {
    background-color: red;
    grid-column: 1/3;
    grid-row: 1/2;
    line-height: 75px;
}

.b {
    background-color: palevioletred;
    grid-column: 1/3;
    grid-row: 2/3;
    line-height: 150px;
}

.c {
    background-color: yellow;
    grid-column: 1/3;
    grid-row: 3/4;
    line-height: 125px;
}

.d {
    background-color: orange;
    grid-column: 1/3;
    grid-row: 4/5;
    line-height: 125px;
}

.e {
    background-color:blue;
    grid-column: 1/2;
    grid-row: 5/6;
    line-height: 250px;
}

.f {
    background-color:purple;
    grid-column: 2/3;
    grid-row: 5/6;
    line-height: 250px;   
}

.g {
    background-color: olivedrab;
    grid-column: 1/2;
    grid-row: 6/7;
    line-height: 250px;
}

.h {
    background-color: navy;
    grid-column: 2/3;
    grid-row: 6/7;
    line-height: 250px;
}

.blank {
    background-color: rgb(53, 52, 128);
    grid-column: 1/3;
    grid-row: 7/8;
    line-height: 80px;
}

p {
    text-align: center;
    vertical-align: middle;
}

.hide {
    color: rgb(53, 52, 128);
}


